<!DOCTYPE html>
<html>
  <head>
    <title>Myreservations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a style = "color:red" class="navbar-brand" href="/">Questions World</a>
      </div>
      <br>

      <br>

      <form id= 'create_question' action="#" method="post">
        <input style="width: 20%; height: 30px" id="text_input" type="text" name="question[subject]" placeholder="Where are you going?">
        <input style="width: 50%; height: 50px" id="text_input" type="text" name="question[description]" placeholder="When are you going?">
        <input style="color:red" id='AskUs' type="Submit" value="Ask!">
      </form>
  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
        <li><a  style = "color:#000000" href="/"> Hey, <%= current_user.email %>  Ask a question here! </a></li>
        <% else %>
        <li>  <%= button_to 'Sign out', sign_out_path, method: :delete %> </li>
        <% end %>
        <li class="dropdown">
      <a style = "color:#191970"  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU / LANGUAGE<span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li><a href="/questions">Your Content</a></li>
          <li><a href="/questions"> Past Questions</a></li>
          <li><a href="/answers"> Past Answers</a></li>
          <li><a href="/messages"> Messages</a></li>
          <li><a href="#"> User Profile</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">عربي</a></li>
          <li><a href="#">Türkçe</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Your Profile Settings</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>
      <!-- <% if signed_in? %>
    Signed in as: <%= current_user.email %>

    <%= link_to 'Sign in', sign_in_path %>
  <% end %>


      <%= yield %> -->
  </body>
</html>
